    body {
      font-family: "Lato", sans-serif;
    }
    
    .sidepanel  {
      width: 0;
      position: fixed;
      z-index: 1;
      height: 250px;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }
    
    .sidepanel a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    
    .sidepanel a:hover {
      color: #f1f1f1;
    }
    
    .sidepanel .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
    }
    
    .openbtn {
      font-size: 20px;
      cursor: pointer;
      background-color: #111;
      color: white;
      padding: 10px 15px;
      border: none;
    }
    
    .openbtn:hover {
      background-color:#444;
    }
header {
    background-color: #333;
    padding: 10px 0;
  }
  
  nav {
    text-align: left;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-left: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  nav ul li a:hover {
    background-color: #333;
  }
  
  .dropdown {
    display: inline-block;
    position: relative;
  }
  
  .dropdown select {
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .dropdown select:hover {
    background-color: dodgerblue;
  }
  
  .dropdown ul {
    position: absolute;
    list-style-type: none;
    padding: 0;
    background-color: #333;
    border-radius: 5px;
    display: none;
    
  }
  
  .dropdown:hover ul {
    display: block;
  }
  
  .dropdown ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
  }
  
  .dropdown ul li a:hover {
    background-color: #555;
  }
  